.rewind-card {
  box-shadow: 0 0 0 1px var(--primary-200);
  border-radius: var(--d-border-radius);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
