body {
  --ambientAmount: 0.1;
  --easeAmount: 0;
  animation: ambientMovement;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.rewind-report-container {
  perspective: 1000px;
  gap: 0.5em;
}

.rewind-card {
  background-color: var(--secondary);
  border: 1px solid var(--primary-300);
  border-radius: var(--d-border-radius);
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  &__title {
    font-family: var(--heading-font) !important;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
  }
  &__data {
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }
}
