.-most-viewed-categories {
  .rewind-report-container {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  .rewind-card {
    @include rewind-border;
    width: max-content;
    flex-grow: 1;

    &:hover {
      background-color: var(--secondary-very-high);
    }
  }
}

.most-viewed-categories__category {
  font-family: var(--pixel-text);
}
