.-post-received-reactions {
  .rewind-report-container {
    align-items: center;
    gap: 0.5em;
  }
  .rewind-card {
    background: var(--secondary);
    flex-direction: row;
    gap: 0.5em;
    height: min-content;
    @include rewind-border;
    .emoji {
      width: 30px;
      height: 30px;
    }
  }
  .rewind-card__emoji {
    font-size: 12px;
  }
  .scale:nth-child(1) {
    padding: 0.25em;
    .emoji {
      width: 20px;
      height: 20px;
    }
  }
  .scale:nth-child(2) {
    padding: 0.35em;
    .emoji {
      width: 22px;
      height: 22px;
    }
  }
  .scale:nth-child(3) {
    padding: 0.5em;
    .emoji {
      width: 24px;
      height: 24px;
    }
  }
  .scale:nth-child(4) {
    padding: 0.75em;
    .emoji {
      width: 26px;
      height: 26px;
    }
  }
}
