.-post-used-reactions {
  .rewind-card {
    @include rewind-border;
  }
  .rewind-reactions-chart {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .rewind-reactions-row {
    display: grid;
    grid-template-columns: 25px 50px 1fr;
    gap: 1em;
    border-bottom: 1px solid var(--primary-low);
    padding: 0.5em 0;
  }

  .emoji {
    height: 25px;
    width: 25px;
  }

  .percentage {
    font-weight: normal;
    font-family: monospace;
    font-size: 16px;
  }

  .rewind-reactions-bar {
    background: var(--tertiary-600);
    border: 1px solid rgba(var(--primary-rgb), 0.2);
    height: 25px;
    border-radius: calc(var(--rewind-border-radius) * 0.75);
  }

  .rewind-total-reactions {
    font-size: 12px;
    font-weight: normal;
    margin-top: 1em;
    margin-left: auto;
  }
}
