.rewind-report-page {
  display: flex;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
  font-size: var(--font-up-2);
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  flex-direction: column;
  @media (width <= 768px) {
    padding: 0.75em;
  }
}

.rewind-report {
  display: flex;
  flex-direction: column;
}

.rewind-report-container {
  display: flex;
  max-width: 100%;
}

.rewind-report-title {
  font-size: var(--font-down-1);
  text-align: left;
}
