.rewind-callout {
  background: var(--primary);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 12px);
  border-radius: var(--d-border-radius);
  height: calc(100% - 12px);
  margin: 0 auto;
  box-shadow: 0 0 0 6px var(--primary);
  transition: box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    background: var(--primary) !important;
    box-shadow:
      0 0 0 2px rgb(var(--d-blue), 1),
      0 0 0 4px rgb(var(--d-green), 1),
      0 0 0 6px rgb(var(--d-orange), 1),
      0 0 0 8px rgb(var(--d-red), 1);

    @if color-scheme-is-light {
      box-shadow:
        0 0 0 2px rgb(var(--d-blue-dark), 1),
        0 0 0 4px rgb(var(--d-green-dark), 1),
        0 0 0 6px rgb(var(--d-orange-dark), 1),
        0 0 0 8px rgb(var(--d-red-dark), 1);
    }
  }

  .rewind-logo {
    height: 30px;
  }
}
