.rewind-container {
  border-radius: var(--d-border-radius);
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;

  h1,
  h2 {
    font-size: 24px;
  }

  &.-fullscreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: calc(100vw - (100vw - 100%) + 2px);
    height: 100vh;
    position: fixed;
    background: rgba(var(--secondary-rgb), 0.5);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    @media (width <= 768px) {
      padding: 0;
    }
  }
}

.rewind {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 960px;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: var(--rewind-border-radius);
  container-type: size;
  position: relative;
  overflow: hidden;
  background: var(--secondary);
  @media (width <= 768px) {
    border: none;
    border-radius: 0px;
  }
}

.background-1 {
  background: url(/plugins/discourse-rewind/images/blur-bg.png);
  @if is-dark-color-scheme() {
    opacity: 0.15;
  }
  background-size: contain;
  position: absolute;
  transform: translateY(0px);
  width: 100%;
  height: 1000%;
  opacity: 0.45;
}
.rewind__scroll-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rewind__exit-fullscreen-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.rewind__prev-btn {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
}

.rewind__next-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.rewind-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100cqh;
  gap: 1em;
  box-sizing: border-box;

  &__text {
    font-weight: 700;
    font-size: var(--font-up-2);
  }
}
