:root {
  --d-yellow: 251, 245, 175;
  --d-blue: 40, 171, 226;
  --d-green: 12, 166, 78;
  --d-orange: 240, 121, 74;
  --d-red: 232, 74, 81;
  --d-yellow-dark: 197, 193, 140;
  --d-blue-dark: 39, 137, 178;
  --d-green-dark: 17, 138, 68;
  --d-orange-dark: 188, 105, 65;
  --d-red-dark: 183, 64, 70;

  --rewind-border-radius: 4px;
}

@mixin rewind-border() {
  border: 2px solid var(--primary);
  border-radius: var(--rewind-border-radius);
  box-shadow: 4px 4px 0 0 rgba(var(--primary-rgb), 0.25);
  @media screen and (prefers-color-scheme: dark) {
    box-shadow: 0 4px 5px -2px rgba(var(--secondary-rgb), 0.5);
  }
}
